#logseq-crypto--crypto-menu {
    --logseq-crypto-color: inherit;
    --logseq-crypto-input-border-color: var(--lx-accent-05);
    --logseq-crypto-input-bg-color: var(--ls-primary-background-color);
    --logseq-crypto-font-family: system-ui;

    color: var(--logseq-crypto-color);
    font-family: var(--logseq-crypto-font-family);
}


#lc-visibility {
    font-size: 1.3em;
    margin-right: 4px;
}

#lc-password {
    background-color: var(--logseq-crypto-input-bg-color);
    border-color: var(--logseq-crypto-input-border-color);
    border-radius: 4px;
    padding: 2px 8px;
    width: 200px;
    font-weight: 300;
}

#lc-password[type="password"]:not(:placeholder-shown) {
    font-size: 1.4em;
}

#logseq-crypto--crypto-menu svg{
    stroke-width: 1.5;
}

#lc-password:focus {
    box-shadow: none;
}

#logseq-crypto--crypto-menu button {
    font-size: 1.3em;
    margin-left: 4px;
    display: block;
    padding: 2px;
    border-radius: 8px;
}

#logseq-crypto--crypto-menu button:hover {
    background-color: var(--ls-tertiary-background-color);
}

#lc-button-close:hover {
    color: var(--color-red-800);
}

#lc-button-encrypt {
    z-index: 1;
    overflow: hidden;
    position: relative;

&:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
&:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--lx-accent-12);
    
    transition: background-color, .5s;
    z-index: -1;
}
&:active {
    color: var(--lx-accent-02);
    &:before {
        height: 100%;
    }
}}